<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medical.the_mental_health.honoured_vip.mapper.HonouredMapper">

    <select id="list" resultType="TMember">
        select * from `t_member`
    </select>

    <insert id="saveHonoured" parameterType="TMember" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_member values ()
    </insert>

    <delete id="delHonoured">
        delete from t_member
        where id = #{id}
    </delete>
</mapper>
